:root {
  /* Colors */

  /* Primary */

  --Pale-blue: hsl(254, 90%, 66%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* Neutral */

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);

  /* Font */

  --Red-Hat-Display: "Red Hat Display", sans-serif;
  /* Weights: 500, 700, 900 */
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: grid;
  place-items: center;

  background-image: url("./images/pattern-background-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 11rem;
  background-color: #e1e9ff;

  font-size: 16px;
  font-family: var(--Red-Hat-Display);
}

.container {
  display: grid;
  grid-auto-rows: 22rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  margin: 1.5rem;
  border-radius: 1.2rem;
  overflow: hidden;
  background: #fff;
}

.order-sumary {
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.description {
  color: var(--Desaturated-blue);
  font-weight: 500;
  text-align: center;
  left: 3rem;
  font-size: 1rem;
  width: 17rem;
  margin-bottom: 1.5rem;
}

.flex-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 17rem;
  height: 4.7rem;
  border-radius: 7px;
  background: var(--Very-pale-blue);
  margin-bottom: 1.5rem;
}

.anual-plan p:first-child {
  font-weight: 900;
  font-size: 0.9rem;
}

.anual-plan p:nth-child(2) {
  color: var(--Desaturated-blue);
  font-size: 0.9rem;
}

.flex-content > a {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--Pale-blue);
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay a:first-child {
  width: 17rem;
  height: 3rem;
  border-radius: 0.6rem;
  text-align: center;
  padding-top: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  background: var(--Bright-blue);

  box-shadow: 0px 27px 55px -8px rgba(107, 122, 214, 0.55);
  -webkit-box-shadow: 0px 27px 55px -8px rgba(107, 122, 214, 0.55);
  -moz-box-shadow: 0px 27px 55px -8px rgba(107, 122, 214, 0.55);
}

.cancel-order {
  margin-top: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--Desaturated-blue);
}

.flex-content > a:hover {
  color: var(--Pale-blue);
  text-decoration: none;
}

.pay a:first-child:hover {
  background-color: var(--Pale-blue);
}

.cancel-order:hover {
  color: black;
}

/* Desktop */
@media (min-width: 500px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: contain;
    background-position-y: -5rem;

    display: grid;
    place-content: center;
  }

  .container {
    width: max-content;
    height: 43rem;
  }

  .order-sumary {
    font-size: 1.7rem;
  }

  .order-sumary {
    margin-top: 2.6rem;
  }

  .description {
    width: 19rem;
  }

  .flex-content {
    width: 22rem;
    margin-bottom: 1.9rem;
    height: 6rem;
  }

  .flex-content > img {
    margin-left: 0.7rem;
  }

  .anual-plan {
    margin-right: 4rem;
  }

  .anual-plan p:nth-child(2) {
    font-size: 1rem;
  }

  .flex-content > a {
    font-size: 0.9rem;
    color: #786ecd;
    margin-right: 0.6rem;
  }

  .anual-plan p:first-child {
    font-weight: 900;
    font-size: 1rem;
  }

  .pay a:first-child {
    width: 22rem;
  }

  .pay,
  .payment,
  .cancel-order {
    font-size: 0.9rem;
    font-weight: 800;
  }
  .cancel-order {
    margin-top: 2rem;
    font-size: 0.9rem;
  }
}
